In [25]:
# 1
import pandas as pd
import numpy as np
import random
import glob
import csv, os

In [26]:
# 2
def is_file_empty(file_path):
    return os.path.exists(file_path) and os.stat(file_path).st_size == 0

In [27]:
# 3
count = 0
df = pd.DataFrame()
for files in glob.glob('C:\\Users\\madhu\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\*.csv'):
    if count == 28:
        break
    f=open(files, 'r')
    name = os.path.basename(f.name).replace(".csv","")
    if is_file_empty("C:\\Users\\madhu\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\"+name+".csv"):
        continue
    data = pd.read_csv(f)
    gain = (data.at[data.shape[0]-1, "Close Price"] / data.at[0,"Close Price"]) - 1
#     gain = (close[len(close)-1]/close[0])-1
    row = {'Code': name, 'Gain': gain}
    df = df.append(row, ignore_index=True)
    count = count + 1
    f.close()

In [28]:
# 4
df_5years = df.sort_values("Gain", ascending=False)
df_5years.head(10)

      Code         Gain
7   511736  1408.090909
21  538685     3.151163
27  570001     2.500961
18  533178     2.380282
11  522165     2.320251
8   513117     1.513812
23  539542     1.265420
14  530235     1.094595
16  530655     0.889655
3   500480     0.642359

In [29]:
count = 0
df = pd.DataFrame()
for files in glob.glob('C:\\Users\\madhu\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\*.csv'):
    if count == 17:
        break
    f=open(files, 'r')
    name = os.path.basename(f.name).replace(".csv","")
    if is_file_empty("C:\\Users\\madhu\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\"+name+".csv"):
        continue
    data = pd.read_csv(f)
    data1 = data[0:750]
    gain = (data1.at[data1.shape[0]-1, "Close Price"] / data1.at[0,"Close Price"]) - 1
#     gain = (close[len(close)-1]/close[0])-1
    row = {'Code': name, 'Gain': gain}
    df = df.append(row, ignore_index=True)
    count = count + 1
    f.close()

In [30]:
df_3years = df.sort_values("Gain", ascending=False)
df_3years.head(10)

      Code       Gain
7   511736  47.409091
11  522165  14.125589
15  530355   1.696459
5   506480   1.422651
2   500439   1.417314
14  530235   1.094595
8   513117   0.685083
16  530655   0.531897
3   500480   0.505348
4   505141   0.426404

In [31]:
count = 0
df = pd.DataFrame()
for files in glob.glob('C:\\Users\\madhu\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\*.csv'):
    if count == 25:
        break
    f=open(files, 'r')
    name = os.path.basename(f.name).replace(".csv","")
    if is_file_empty("C:\\Users\\madhu\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\"+name+".csv"):
        continue
    data = pd.read_csv(f)
    data1 = data[0:250]
   
    gain = (data1.at[data1.shape[0]-1, "Close Price"] / data1.at[0,"Close Price"]) - 1
#     gain = (close[len(close)-1]/close[0])-1
    row = {'Code': name, 'Gain': gain}
    df = df.append(row, ignore_index=True)
    count = count + 1
    f.close()

In [32]:
df_1year = df.sort_values("Gain", ascending=False)
df_1year.head(10)

      Code      Gain
14  530235  2.243243
11  522165  1.519623
21  538685  1.225452
13  526325  1.036320
18  533178  0.732394
5   506480  0.329157
24  539607  0.154201
15  530355  0.133783
6   507880  0.093307
7   511736  0.090909

In [33]:
count = 0
df = pd.DataFrame()
for files in glob.glob('C:\\Users\\madhu\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\*.csv'):
    if count == 15:
        break
    f=open(files, 'r')
    name = os.path.basename(f.name).replace(".csv","")
    if is_file_empty("C:\\Users\\madhu\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\"+name+".csv"):
        continue
    data = pd.read_csv(f)
    data1 = data[0:130]
   
    gain = (data1.at[data1.shape[0]-1, "Close Price"] / data1.at[0,"Close Price"]) - 1
#     gain = (close[len(close)-1]/close[0])-1
    row = {'Code': name, 'Gain': gain}
    df = df.append(row, ignore_index=True)
    count = count + 1
    f.close()

In [34]:
df_6months = df.sort_values("Gain", ascending=False)
df_6months.head(10)

          Code      Gain
14      530235  3.054054
13      526325  0.268160
12      523896  0.221374
11      522165 -0.090267
4       505141 -0.135053
7       511736 -0.136364
10      520059 -0.165850
5       506480 -0.166265
2       500439 -0.170551
0   500292 (1) -0.215870

In [35]:
count = 0
df = pd.DataFrame()
for files in glob.glob('C:\\Users\\madhu\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\*.csv'):
    if count == 8:
        break
    f=open(files, 'r')
    name = os.path.basename(f.name).replace(".csv","")
    if is_file_empty("C:\\Users\\madhu\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\"+name+".csv"):
        continue
    data = pd.read_csv(f)
    data1 = data[0:75]
   
    gain = (data1.at[data1.shape[0]-1, "Close Price"] / data1.at[0,"Close Price"]) - 1
#     gain = (close[len(close)-1]/close[0])-1
    row = {'Code': name, 'Gain': gain}
    df = df.append(row, ignore_index=True)
    count = count + 1
    f.close()

In [36]:
df_3months = df.sort_values("Gain", ascending=False)
df_3months.head(10)

         Code      Gain
4      505141  0.183612
5      506480 -0.101928
2      500439 -0.108068
7      511736 -0.136364
6      507880 -0.147888
0  500292 (1) -0.176957
1      500292 -0.176957
3      500480 -0.219900

In [37]:
count = 0
df = pd.DataFrame()
for files in glob.glob('C:\\Users\\madhu\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\*.csv'):
    if count == 10:
        break
    f=open(files, 'r')
    name = os.path.basename(f.name).replace(".csv","")
    if is_file_empty("C:\\Users\\madhu\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\"+name+".csv"):
        continue
    data = pd.read_csv(f)
    data1 = data[0:30]
   
    gain = (data1.at[data1.shape[0]-1, "Close Price"] / data1.at[0,"Close Price"]) - 1
#     gain = (close[len(close)-1]/close[0])-1
    row = {'Code': name, 'Gain': gain}
    df = df.append(row, ignore_index=True)
    count = count + 1
    f.close()

In [38]:
df_1months = df.sort_values("Gain", ascending=False)
df_1months.head(10)

         Code      Gain
5      506480  0.003373
8      513117 -0.055249
7      511736 -0.090909
4      505141 -0.091047
0  500292 (1) -0.123696
1      500292 -0.123696
6      507880 -0.124496
2      500439 -0.146225
3      500480 -0.169746
9      519299 -0.669145