In [1]:
import pandas as pd
import numpy as np
import random
import glob
import csv, os

In [2]:
def is_file_empty(file_path):
    return os.path.exists(file_path) and os.stat(file_path).st_size == 0

In [3]:
count = 1
df = pd.DataFrame()
for files in glob.glob('C:\\Users\\M. LAKSHMI MADHURI\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\*.csv'):
    if count == 30:
        break
    f=open(files, 'r')
    name = os.path.basename(f.name).replace(".csv","")
    if is_file_empty("C:\\Users\\M. LAKSHMI MADHURI\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_2\\Databases\\"+name+".csv"):
        continue
    data = pd.read_csv(f)
    gain = (data.at[data.shape[0]-1, "Close Price"] / data.at[0,"Close Price"]) - 1
#     gain = (close[len(close)-1]/close[0])-1
    row = {'Code': name, 'Gain': gain}
    df = df.append(row, ignore_index=True)
    count = count + 1
    f.close()

df

          Code         Gain
0   500292 (1)    -0.666087
1       500292    -0.666087
2       500439    -0.325429
3       500480     0.642359
4       505141    -0.097117
5       506480    -0.210602
6       507880    -0.739181
7       511736  1408.090909
8       513117     1.513812
9       519299    -0.631970
10      520059     0.480392
11      522165     2.320251
12      523896    -0.320611
13      526325    -0.121065
14      530235     1.094595
15      530355    -0.350197
16      530655     0.889655
17      532365    -0.768664
18      533178     2.380282
19      533393    -0.065421
20      534816     0.615627
21      538685     3.151163
22      539227    -0.468333
23      539542     1.265420
24      539607     0.154201
25      540570    -0.232542
26      541352     0.107143
27      570001     2.500961
28      590031     0.517725

In [4]:
df = df.sort_values("Gain", ascending=False)
df.head(10)

      Code         Gain
7   511736  1408.090909
21  538685     3.151163
27  570001     2.500961
18  533178     2.380282
11  522165     2.320251
8   513117     1.513812
23  539542     1.265420
14  530235     1.094595
16  530655     0.889655
3   500480     0.642359