In [1]:
import numpy as np
import pandas as pd
import seaborn as sns; sns.set()
import random
import warnings
warnings.filterwarnings('ignore')

In [2]:
icici = pd.read_csv("ICICI.csv")["Close Price"].reset_index()

In [3]:
icici.head(10)

   index  Close Price
0      0       546.70
1      1       537.05
2      2       531.65
3      3       527.55
4      4       534.80
5      5       528.45
6      6       528.95
7      7       520.20
8      8       513.65
9      9       503.60

In [4]:
equity = pd.read_csv("Equity.csv")
equity.head(10)

,Security Code,Issuer Name,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument
0,500002,NaN,ABB,ABB India Limited,Active,A,2.0,INE117A01022,Heavy Electrical Equipment,Equity
1,500003,NaN,AEGISLOG,AEGIS LOGISTICS LTD.,Active,A,1.0,INE208C01025,Oil Marketing & Distribution,Equity
2,500008,NaN,AMARAJABAT,AMARA RAJA BATTERIES LTD.,Active,A,1.0,INE885A01032,Auto Parts & Equipment,Equity
3,500009,NaN,AMBALALSA,AMBALAL SARABHAI ENTERPRISES LTD.,Active,X,10.0,INE432A01017,Pharmaceuticals,Equity
4,500010,NaN,HDFC,HOUSING DEVELOPMENT FINANCE CORP.LTD.,Active,A,2.0,INE001A01036,Housing Finance,Equity
5,500012,NaN,ANDHRAPET,ANDHRA PETROCHEMICALS LTD.,Active,X,10.0,INE714B01016,Commodity Chemicals,Equity
6,500013,NaN,ANSALAPI,ANSAL PROPERTIES & INFRASTRUCTURE LTD.,Active,T,5.0,INE436A01026,Realty,Equity
7,500014,NaN,UTIQUE,Utique Enterprises Ltd,Active,X,10.0,INE096A01010,Finance (including NBFCs),Equity
8,500016,NaN,ARUNAHTEL,ARUNA HOTELS LTD.,Active,XT,10.0,INE957C01019,Hotels,Equity
9,500020,NaN,BOMDYEING,BOMBAY DYEING & MFG.CO.LTD.,Active,A,2.0,INE032A01023,Textiles,Equity

In [5]:
sample_data  = equity.sample(10)
sample_data

,Security Code,Issuer Name,Security Id,Security Name,Status,Group,Face Value,ISIN No,Industry,Instrument
324,502460,NaN,SOLIDCO,SOLID CONTAINERS LTD.,Active,X,10.0,INE134U01017,Paper & Paper Products,Equity
2118,531400,NaN,ALMONDZ,ALMONDZ GLOBAL SECURITIES LTD.,Active,B,6.0,INE326B01027,Other Financial Services,Equity
2073,531283,NaN,CINDRELL,CINDRELLA FINANCIAL SERVICES LTD.,Active,XT,10.0,INE897D01015,Finance (including NBFCs),Equity
1410,523269,NaN,ADVANIHOTR,ADVANI HOTELS & RESORTS (INDIA) LTD.,Active,T,2.0,INE199C01026,Hotels,Equity
3697,540823,NaN,VITESSE,Vitesse Agro Ltd,Active,XT,10.0,INE550U01014,Comm.Trading & Distribution,Equity
450,505285,NaN,TULIVE,Tulive Developers Limited,Active,XT,10.0,INE637D01015,Other Industrial Goods,Equity
2575,532702,NaN,GSPL,GUJARAT STATE PETRONET LTD.,Active,A,10.0,INE246F01010,Utilities:Non-Elec.,Equity
791,511523,NaN,VEERHEALTH,Veerhealth Care Limited,Active,X,10.0,INE882C01035,Pharmaceuticals,Equity
1161,517273,NaN,S&SPOWER,S&S POWER SWITCHGEAR LTD.,Active,T,10.0,INE902B01017,Other Elect.Equip./ Prod.,Equity
3217,539114,NaN,HINDSECR,Hind Securities & Credits Ltd,Active,XT,10.0,INE727Q01016,Finance (including NBFCs),Equity

In [6]:
Security_code = list(sample_data["Security Code"])
Security_Id = list(sample_data["Security Id"])
Security_Name = list(sample_data["Security Name"])
print(Security_code)

[502460, 531400, 531283, 523269, 540823, 505285, 532702, 511523, 517273, 539114]

In [7]:
import time, csv
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import datetime
import random
from selenium.webdriver.common.keys import Keys

chromeOptions = webdriver.ChromeOptions()
preferences = {"download.default_directory" : "C:\\Users\\M. LAKSHMI MADHURI\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_3\\Task_3_Analysis_Stock\\CORR_data"}
chromeOptions.add_experimental_option("prefs", preferences)
chromedriver = "C:\\Users\\M. LAKSHMI MADHURI\\Desktop\Repositories\\Data_Science_2019501105\\DADV\\chromedriver.exe"
driver = webdriver.Chrome(executable_path=chromedriver, options=chromeOptions)
driver.maximize_window()

driver.get("https://www.bseindia.com/markets/equity/EQReports/StockPrcHistori.aspx?flag=0")

#date
driver.find_element_by_id("ContentPlaceHolder1_txtToDate").click()
time.sleep(3)
x = datetime.datetime.now()
date = str(int(x.strftime("%d")))
year = x.strftime("%Y")
driver.find_element_by_link_text(date).click()
time.sleep(2)
driver.find_element_by_id("ContentPlaceHolder1_txtFromDate").click()
select = Select(driver.find_element_by_class_name("ui-datepicker-year"))
pyear = str(int(year)-5)
select.select_by_visible_text(pyear)
driver.find_element_by_link_text(date).click()
time.sleep(2)

for i in Security_code:
    random_code = i
    print(random_code)
    #company id
    search = driver.find_element_by_id('ContentPlaceHolder1_smartSearch')
    search.clear()
    search.send_keys(random_code)
    driver.find_element_by_class_name("quotemenu").click()
    #download
    driver.find_element_by_id("ContentPlaceHolder1_btnSubmit").click()
    time.sleep(3)
    driver.find_element_by_id("ContentPlaceHolder1_btnDownload").click()
    time.sleep(10)

driver.close()

502460
531400
531283
523269
540823
505285
532702
511523
517273
539114

In [9]:
data = pd.DataFrame()
new_data = pd.DataFrame()
for i in range(9):
    link = "C:\\Users\\M. LAKSHMI MADHURI\\Desktop\\Repositories\\Data_Science_2019501105\\DADV\\Assignments\\Task_3\\Task_3_Analysis_Stock\\CORR_data\\"+str(Security_code[i])+".csv"
    x = pd.read_csv(link)["Close Price"].reset_index()
    data = pd.merge(x, icici, on='index').iloc[:,[1,2]]
    row = {'Name': Security_Name[i], 'Corr':data.corr()['Close Price_x'][1]}
    new_data = new_data.append(row, ignore_index=True)

In [10]:
new_data

       Corr                                  Name
0  0.648044                 SOLID CONTAINERS LTD.
1  0.113198        ALMONDZ GLOBAL SECURITIES LTD.
2  0.679755     CINDRELLA FINANCIAL SERVICES LTD.
3 -0.021178  ADVANI HOTELS & RESORTS (INDIA) LTD.
4  0.594498                      Vitesse Agro Ltd
5  0.520284             Tulive Developers Limited
6  0.773673           GUJARAT STATE PETRONET LTD.
7  0.120435               Veerhealth Care Limited
8 -0.682521             S&S POWER SWITCHGEAR LTD.

In [12]:
new_data.sort_values("Corr", axis = 0, ascending = False, inplace = True, na_position ='last')
str(new_data['Name'][0])+ " having highest correlation with ICIC Bank with a correlation of " +str(new_data['Corr'][0])

'SOLID CONTAINERS LTD. having highest correlation with ICIC Bank with a correlation of 0.6480440744258068'